---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Background from "@/components/Background.astro";
import HeroSection from "@/components/sections/HeroSection.astro";
import FeaturesSection from "@/components/sections/FeaturesSection.astro";
---

<BaseLayout>
	<div class="hidden lg:block">
		<Background />
	</div>

	<main>
		<HeroSection />

		<FeaturesSection />
	</main>
</BaseLayout>
