<!-- Background -->
<div aria-hidden="true" class="absolute top-0 -z-10 h-full w-full bg-white">
	<div
		class="absolute top-0 right-0 bottom-auto left-auto h-[500px] w-[500px] -translate-x-[30%] translate-y-[20%] rounded-full bg-blue-200 opacity-50 blur-[80px]"
	>
	</div>
</div>
